[submodule "case-studies/lean-egg"]
	path = case-studies/lean-egg
	url = git@github.com:memoryleak47/lean-egg.git
[submodule "case-studies/herbie"]
	path = case-studies/herbie
	url = git@github.com:memoryleak47/herbie.git
[submodule "case-studies/trig"]
	path = case-studies/trig
	url = git@github.com:memoryleak47/trig-benchmark.git
[submodule "case-studies/szalinski"]
	path = case-studies/szalinski
	url = git@github.com:memoryleak47/szalinski.git
